<div>
    <h2>Adicionar Receita</h2>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
      <input matInput type="text" id="descricao" [(ngModel)]="descricao" name="descricao" required>
    </mat-form-field>

        <mat-form-field appearance="fill">
        <mat-label>Valor</mat-label>
        <input matInput type="number" [(ngModel)]="valor" name="valor" required>
      </mat-form-field>
      
      
      <mat-form-field appearance="fill">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data" name="data" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit">Adicionar</button>
    </form>
  </div>
  
  <div>
    <h2>Lista de Receitas</h2>
    <ul>
      <li *ngFor="let receita of receitas">
        {{ receita.descricao }} - {{ receita.valor | currency:'BRL':'symbol':'1.2-2' }} - {{ formatarData(receita.data) }}
        <button mat-raised-button color="warn" (click)="removerReceita(receita.id)">Remover</button>
      </li>
    </ul>
  </div>
  