.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .saldo, .graficos, .links-rapidos, .ultimas-transacoes {
    width: 45%;
  }
  
  mat-card {
    margin: 10px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 5px 0;
  }
  